// @media($max_mobile){
//     margin: 0px;
// }

.header {
    height: 90px;
    background-color: $background_header;
    @media ($max_mobile) {
        width: 100%;
        background-color: white;
        margin-right: 0px;
        
    }
    .container {
        .row {
            flex-direction: row-reverse;
            justify-content: space-between;
            @media($max_mobile) {
                flex-direction: row;
                justify-content: center;
            }
            .right {
                flex: 0 0 176px;
                max-width: 176px;
                @media($max_mobile){
                    width: 100%;
                   
                }
                img {
                    width: 176px;
                    height: 48px;
                    float: right;
                    margin-top: 21px;
                    // margin-right: 2px;
                    @media($max_mobile) {
                        width: 117.3px;
                        height: 32px;
                        
                        
                    }
                }
              
            }
            .search {
                display: none;

                @media ($max_mobile) {
                     
                        display: flex;
                        font-size: 24px;
                        justify-content: right;
                        color: grey;
                        margin-top: -25px;
                        margin-right: 20px;
                    
                }
            }
        }
        .left {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            flex: 0 0 42%;
            max-width: 42%;
            padding: 0px;
            .head-icon {
                margin-top: 0px;
                flex-direction: row-reverse;
            }
            .corona-virus {
                a{
                    // p{
                        
                    //     position: absolute;
                    //     color: $white;
                    //     font-size: 12px;
                    //     z-index: 1;
                    //     margin-left: 72px;
                    // }
                    img {
                        width: 247px;
                       height: 65px;
    
                      margin-top: -12px;

                    @media($max_mobile) {
                        display: none;
                    }
                }
                }
              

            }
            .icon {
                background-color: $background_icon;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                margin: 26px 16.6px 27px 0px;
                text-align: center;
                align-items: center;
                justify-content: center;
                display: inline-flex;
                // padding: 0px 20px;
            }
            p {
                padding: 0px 16px;
                i {
                    text-decoration: none;
                    color: $icon_color;
                    margin-top: 0px;
                }
            }

            @media($max_mobile) {
                display: none;
            }
        }
        .menu-media{
            display: none;
            @media ($max_mobile){
                padding: 0px;
                position: absolute;
                display: flex;
                top: 10px;
                nav{
                    @media($max_mobile){
                        width: inherit;
                        text-align: right;
                        
                    }
                }
                button{
                    border:none;
                    &{
                        color: transparent;
                    }
                }
                ul{
                    @media ($max_mobile){
                        
                        
                        background-color: white;
                        // width: 100%;
                        // padding-right: 20px;
                        margin-top: 20px;
                        box-shadow: 0px 20px 17px 0px #dedede  ;
                    }
                    li{
                        @media($max_mobile){
                            padding-right: 20px;
                        }
                        
                    }
                    .color-g{
                        background-color: #f9f9fa;
                    }
            }}
        }
    }
}
.header-menu{
    
    @media ($max_mobile) {
        position: relative;
        display: none;
    }
    .container{
        .row{
            .col-12{
                nav{
                    .navbar-brand{
                    @media ($max_mobile) {
                        
                        display: none; 
                    }
                    }
                    @media ($max_mobile) {
                       button{
                           margin-top: -119px;
                           border: none;
                       }
                    }
                  
                    .left{
                        text-align: right;
                        width: 913px;
                        height: 18px;
                        direction: rtl;
                        // margin-left: 50px;
                        font-size: 14px;
                        ul{
                            @media ($max_mobile){
                                position: absolute;
                                min-height: 402px;
                                background-color: white;
                                width: 100%;
                                padding-right: 20px;
                                box-shadow: 0px 0px 0px 0px #888;
                            }
                            li{
                                
                                padding-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

hr {
    margin: 0px;
    @media($max_mobile) {
        margin-top: -16px;
        width: 100%;
    }
}

