
// color of navbar
$white:white;
$icon_color:white;
$background_icon:#1f6897;
$color_menu:black;
$background_header:#f7f7f7;
$card_title:#1d6295;
$card_body:#dfe9f1;
$dash_icon:rgb(63, 160, 224);
$footer_text:rgb(153, 151, 151);
$footer_back:rgb(231, 230, 230);
$card_text:#74747c;
$color_arrow:rgba(0,0,0,0.7);
$color_carsoul:rgba(21,41,59,0.9);


// Media Variables 

$max_mobile: "max-width: 767px";



// Font 

$font_neo_medium: 'neo Medium','sans-serif';


//language 

$language: "arabic"; 